# data
kaggle>=1.7.4.5

# 
tqdm>=4.67.1

#preprocessing
duckdb 
pyarrow

#CF
pandas
numpy 
scipy 
implicit 
scikit-learn
torch

#CF nang cao

# content base
torch-scatter 
torch-sparse 
torch-cluster 
torch-spline-conv 
torch-geometric -f https://data.pyg.org/whl/torch-$(torch.__version__).html 
scikit-learn 
sentence-transformers 
